################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/github.io/v16/TestStore/0
/.vs/slnx.sqlite
